In [2]:
from pathlib import Path
from spacetrack import SpaceTrackClient
import pandas as pd

from prefect import flow, task
from prefect_gcp.cloud_storage import GcsBucket

st = SpaceTrackClient('hassansari4a@gmail.com', '9817377317NCELL')
csvfile = st.satcat(format='csv')
with open('satcatdata.csv', 'w') as my_file:
    my_file.write(csvfile)
df = pd.read_csv('satcatdata.csv')

/var/folders/27/yj55qwjs7md5w890736t7nc40000gn/T/ipykernel_20454/1396811016.py:12: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('satcatdata.csv')

In [9]:
df = df.drop(['COMMENT', 'COMMENTCODE', 'RCSVALUE', 'RCS_SIZE'], axis=1)

In [11]:
df.isna().sum()

INTLDES              0
NORAD_CAT_ID         0
OBJECT_TYPE          0
SATNAME              0
COUNTRY              0
LAUNCH               0
SITE                 0
DECAY            27096
PERIOD             929
INCLINATION        929
APOGEE             929
PERIGEE            929
FILE                 0
LAUNCH_YEAR          0
LAUNCH_NUM           0
LAUNCH_PIECE        18
CURRENT              0
OBJECT_NAME          0
OBJECT_ID            0
OBJECT_NUMBER        0
dtype: int64

In [26]:
df[['LAUNCH', 'DECAY']][df['DECAY'].isnull()]

           LAUNCH DECAY
1010   1965-11-16   NaN
1453   1966-08-24   NaN
1467   1966-09-20   NaN
1539   1966-10-26   NaN
1722   1967-04-17   NaN
...           ...   ...
56108  2023-04-02   NaN
56109  2023-04-02   NaN
56110  2023-04-07   NaN
56111  2023-04-07   NaN
56112  2023-04-07   NaN

[27096 rows x 2 columns]

In [27]:
df[['LAUNCH', 'DECAY']]

           LAUNCH       DECAY
0      1957-10-04  1957-12-01
1      1958-02-01  1970-03-31
2      1958-03-26  1958-06-28
3      1958-05-15  1958-12-03
4      1958-05-15  1960-04-06
...           ...         ...
56108  2023-04-02         NaN
56109  2023-04-02         NaN
56110  2023-04-07         NaN
56111  2023-04-07         NaN
56112  2023-04-07         NaN

[56113 rows x 2 columns]

In [31]:
df[df['SATNAME'].str.contains('SPUTNIK 2', case=False)]

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
212,1962-043A,381,PAYLOAD,SPUTNIK 20,CIS,1962-09-01,TTMTR,1962-09-06,88.82,64.80,247.0,186.0,1,1962,43,A,Y,SPUTNIK 20,1962-043A,381
219,1962-045A,389,PAYLOAD,SPUTNIK 21,CIS,1962-09-12,TTMTR,1962-09-14,88.40,64.90,218.0,179.0,1,1962,45,A,Y,SPUTNIK 21,1962-045A,389
244,1962-057A,443,PAYLOAD,SPUTNIK 22,CIS,1962-10-24,TTMTR,1962-10-29,89.13,65.11,261.0,202.0,1,1962,57,A,Y,SPUTNIK 22,1962-057A,443
249,1962-062A,451,PAYLOAD,SPUTNIK 24,CIS,1962-11-04,TTMTR,1962-11-05,87.90,64.85,171.0,171.0,1,1962,62,A,Y,SPUTNIK 24,1962-062A,451
254,1962-057B,456,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-02,88.97,64.84,264.0,183.0,1,1962,57,B,Y,SPUTNIK 22 DEB,1962-057B,456
255,1962-057C,457,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1963-02-26,88.15,64.85,226.0,140.0,1,1962,57,C,Y,SPUTNIK 22 DEB,1962-057C,457
256,1962-057D,458,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-11-29,88.92,64.92,246.0,196.0,1,1962,57,D,Y,SPUTNIK 22 DEB,1962-057D,458
257,1962-057E,459,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-04,89.16,64.87,295.0,171.0,1,1962,57,E,Y,SPUTNIK 22 DEB,1962-057E,459
258,1962-057F,460,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-08,88.96,64.73,264.0,182.0,1,1962,57,F,Y,SPUTNIK 22 DEB,1962-057F,460
261,1962-057G,482,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-10,88.96,64.75,279.0,168.0,1,1962,57,G,Y,SPUTNIK 22 DEB,1962-057G,482
262,1962-057H,483,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1963-01-02,88.72,64.74,253.0,170.0,1,1962,57,H,Y,SPUTNIK 22 DEB,1962-057H,483
263,1962-057J,484,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-04,89.40,64.87,313.0,177.0,1,1962,57,J,Y,SPUTNIK 22 DEB,1962-057J,484
264,1962-057K,485,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-10,89.57,64.73,342.0,164.0,1,1962,57,K,Y,SPUTNIK 22 DEB,1962-057K,485
265,1962-057L,486,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-11-30,89.38,64.87,310.0,178.0,1,1962,57,L,Y,SPUTNIK 22 DEB,1962-057L,486
266,1962-057M,487,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-01,90.58,64.87,429.0,178.0,1,1962,57,M,Y,SPUTNIK 22 DEB,1962-057M,487
270,1962-057N,491,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-25,88.60,64.95,244.0,166.0,1,1962,57,N,Y,SPUTNIK 22 DEB,1962-057N,491
271,1962-057P,492,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-15,89.89,64.79,367.0,171.0,1,1962,57,P,Y,SPUTNIK 22 DEB,1962-057P,492
272,1962-057Q,493,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-21,88.70,64.95,291.0,130.0,1,1962,57,Q,Y,SPUTNIK 22 DEB,1962-057Q,493
273,1962-057R,494,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-17,89.65,64.95,343.0,171.0,1,1962,57,R,Y,SPUTNIK 22 DEB,1962-057R,494
274,1962-057S,495,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-26,88.58,64.76,233.0,176.0,1,1962,57,S,Y,SPUTNIK 22 DEB,1962-057S,495
275,1962-057T,496,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-23,87.70,64.69,177.0,145.0,1,1962,57,T,Y,SPUTNIK 22 DEB,1962-057T,496
276,1962-057U,497,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-26,88.43,64.93,233.0,160.0,1,1962,57,U,Y,SPUTNIK 22 DEB,1962-057U,497
277,1962-057V,498,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-10,90.28,64.96,394.0,182.0,1,1962,57,V,Y,SPUTNIK 22 DEB,1962-057V,498
278,1962-057W,499,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-09,90.11,64.96,379.0,181.0,1,1962,57,W,Y,SPUTNIK 22 DEB,1962-057W,499
279,1962-057X,500,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-28,89.49,64.76,421.0,77.0,1,1962,57,X,Y,SPUTNIK 22 DEB,1962-057X,500
280,1962-057Y,501,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-26,89.79,64.55,357.0,171.0,1,1962,57,Y,Y,SPUTNIK 22 DEB,1962-057Y,501
286,1962-057Z,512,DEBRIS,SPUTNIK 22 DEB,CIS,1962-10-24,TTMTR,1962-12-31,90.66,64.92,441.0,173.0,1,1962,57,Z,Y,SPUTNIK 22 DEB,1962-057Z,512
292,1963-001A,521,PAYLOAD,SPUTNIK 25,CIS,1963-01-04,TTMTR,1963-01-05,87.53,64.63,152.0,152.0,1,1963,1,A,Y,SPUTNIK 25,1963-001A,521
293,1963-001B,522,DEBRIS,SPUTNIK 25 DEB,CIS,1963-01-04,TTMTR,1963-01-11,87.98,64.75,175.0,174.0,1,1963,1,B,Y,SPUTNIK 25 DEB,1963-001B,522
294,1963-001C,524,DEBRIS,SPUTNIK 25 DEB,CIS,1963-01-04,TTMTR,1963-01-11,88.32,64.73,219.0,163.0,1,1963,1,C,Y,SPUTNIK 25 DEB,1963-001C,524
10723,1957-002A,3,PAYLOAD,SPUTNIK 2,CIS,1957-11-03,TTMTR,1958-04-14,103.74,65.33,1659.0,211.0,5922,1957,2,A,Y,SPUTNIK 2,1957-002A,3

In [32]:
df['CURRENT'].value_counts()

Y    56113
Name: CURRENT, dtype: int64

In [33]:
len(df)

56113

In [38]:
len(df[df['OBJECT_TYPE'] != 'DEBRIS']) - df['DECAY'][df['OBJECT_TYPE'] != 'DEBRIS'].isnull().sum()

8469

In [37]:
df['NORAD_CAT_ID'].value_counts()

1        1
47114    1
45990    1
46047    1
46404    1
        ..
27170    1
27167    1
27166    1
27165    1
56175    1
Name: NORAD_CAT_ID, Length: 56113, dtype: int64

In [39]:
df['OBJECT_TYPE'].value_counts()

DEBRIS         34365
PAYLOAD        14881
ROCKET BODY     6443
UNKNOWN          424
Name: OBJECT_TYPE, dtype: int64

In [42]:
df['DECAY'].fillna(datetime(3000,1,1))

0                 1957-12-01
1                 1970-03-31
2                 1958-06-28
3                 1958-12-03
4                 1960-04-06
                ...
56108    3000-01-01 00:00:00
56109    3000-01-01 00:00:00
56110    3000-01-01 00:00:00
56111    3000-01-01 00:00:00
56112    3000-01-01 00:00:00
Name: DECAY, Length: 56113, dtype: object

In [41]:
from datetime import datetime

In [48]:
df['LAUNCH'].to_datetime()

AttributeError: 'Series' object has no attribute 'to_datetime'

In [56]:
df['LAUNCH'] = pd.to_datetime(df['LAUNCH'])
df['DECAY'] = pd.to_datetime(df['DECAY'])

In [55]:
df.drop('launch_date', axis=1, inplace=True)

In [65]:
df[df['PERIOD'].isnull()]

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
55,1961-004D,86,DEBRIS,SCOUT X-1 DEB,US,1961-02-16,WLPIS,1961-06-30,NaN,NaN,NaN,NaN,1,1961,4,D,Y,SCOUT X-1 DEB,1961-004D,86
63,1961-008D,94,DEBRIS,SPUTNIK 9 DEB,CIS,1961-03-09,TTMTR,1961-03-10,NaN,NaN,NaN,NaN,1,1961,8,D,Y,SPUTNIK 9 DEB,1961-008D,94
76,1958-007A,110,PAYLOAD,PIONEER 1,US,1958-10-11,AFETR,1958-10-12,NaN,NaN,NaN,NaN,1,1958,7,A,Y,PIONEER 1,1958-007A,110
77,1958-008A,111,PAYLOAD,PIONEER 3,US,1958-12-06,AFETR,1958-12-07,NaN,NaN,NaN,NaN,1,1958,8,A,Y,PIONEER 3,1958-008A,111
78,1959-014A,114,PAYLOAD,LUNA 2,CIS,1959-09-12,TTMTR,1959-09-13,NaN,NaN,NaN,NaN,1,1959,14,A,Y,LUNA 2,1959-014A,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50228,1995-033A,23605,PAYLOAD,HELIOS 1A,FR,1995-07-07,FRGUI,NaT,NaN,NaN,NaN,NaN,8380,1995,33,A,Y,HELIOS 1A,1995-033A,23605
50815,2004-049C,28494,PAYLOAD,ESSAIM-1,FR,2004-12-18,FRGUI,NaT,NaN,NaN,NaN,NaN,8380,2004,49,C,Y,ESSAIM-1,2004-049C,28494
52319,2009-073C,40135,DEBRIS,HELIOS 2B DEB,FR,2009-12-17,FRGUI,NaT,NaN,NaN,NaN,NaN,8380,2009,73,C,Y,HELIOS 2B DEB,2009-073C,40135
55429,2022-144A,54219,PAYLOAD,LDPE-2,US,2022-11-01,AFETR,NaT,NaN,NaN,NaN,NaN,8380,2022,144,A,Y,LDPE-2,2022-144A,54219
56066,2023-044B,56084,UNKNOWN,OBJECT B,ISRA,2023-03-28,YAVNE,NaT,NaN,NaN,NaN,NaN,8380,2023,44,B,Y,OBJECT B,2023-044B,56084

In [66]:
df[df['SATNAME'].str.contains('ISS', case=False)]

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
10216,1998-067K,26950,DEBRIS,ISS DEB,ISS,1998-11-20,TTMTR,2001-10-12,90.48,51.66,315.0,281.0,1,1998,67,K,Y,ISS DEB,1998-067K,26950
10273,1998-067V,27522,DEBRIS,ISS DEB,ISS,1998-11-20,TTMTR,2002-09-11,89.47,51.63,254.0,243.0,1,1998,67,V,Y,ISS DEB,1998-067V,27522
10274,1998-067W,27523,DEBRIS,ISS DEB,ISS,1998-11-20,TTMTR,2002-09-12,89.27,51.62,244.0,233.0,1,1998,67,W,Y,ISS DEB,1998-067W,27523
10397,1998-069F,25575,PAYLOAD,ISS (UNITY),ISS,1998-12-04,AFETR,NaT,NaN,NaN,NaN,NaN,1386,1998,69,F,Y,ISS (UNITY),1998-069F,25575
10565,1998-067AB,28410,DEBRIS,ISS DEB,ISS,1998-11-20,TTMTR,2004-10-14,87.69,51.62,166.0,155.0,5799,1998,67,AB,Y,ISS DEB,1998-067AB,28410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41604,2010-035C,36797,PAYLOAD,AISSAT 1,NOR,2010-07-12,SRI,NaT,96.75,98.23,610.0,596.0,8378,2010,35,C,Y,AISSAT 1,2010-035C,36797
41911,2014-037G,40075,PAYLOAD,AISSAT 2,NOR,2014-07-08,TTMTR,NaT,97.02,98.36,621.0,612.0,8378,2014,37,G,Y,AISSAT 2,2014-037G,40075
50414,1998-067A,25544,PAYLOAD,ISS (ZARYA),ISS,1998-11-20,TTMTR,NaT,92.92,51.64,422.0,413.0,8380,1998,67,A,Y,ISS (ZARYA),1998-067A,25544
54095,1998-067RZ,47853,DEBRIS,ISS DEB (EP BATTERY),JPN,1998-11-20,TTMTR,NaT,92.07,51.64,376.0,376.0,8380,1998,67,RZ,Y,ISS DEB (EP BATTERY),1998-067RZ,47853
55767,1998-067VB,55448,DEBRIS,ISS DEB (SPX-26 IPA FSE),US,1998-11-20,TTMTR,NaT,92.54,51.64,404.0,394.0,8380,1998,67,VB,Y,ISS DEB (SPX-26 IPA FSE),1998-067VB,55448

In [71]:
df[df['PERIOD'] == df['PERIOD'].min()]

,INTLDES,NORAD_CAT_ID,OBJECT_TYPE,SATNAME,COUNTRY,LAUNCH,SITE,DECAY,PERIOD,INCLINATION,APOGEE,PERIGEE,FILE,LAUNCH_YEAR,LAUNCH_NUM,LAUNCH_PIECE,CURRENT,OBJECT_NAME,OBJECT_ID,OBJECT_NUMBER
18411,2002-042H,27815,PAYLOAD,USERS (REENTRY MODULE),JPN,2002-09-10,TNSTA,2003-05-29,0.0,0.0,0.0,0.0,7337,2002,42,H,Y,USERS (REENTRY MODULE),2002-042H,27815
22040,2003-019A,27809,PAYLOAD,HAYABUSA (MUSES C),JPN,2003-05-09,KSCUT,2010-06-13,0.0,0.0,0.0,0.0,7520,2003,19,A,Y,HAYABUSA (MUSES C),2003-019A,27809
25109,1997-061A,25008,PAYLOAD,CASSINI,US,1997-10-15,AFETR,2017-09-15,0.0,0.0,0.0,0.0,7979,1997,61,A,Y,CASSINI,1997-061A,25008
27296,2004-030A,28391,PAYLOAD,MESSENGER,US,2004-08-03,AFETR,2015-04-30,0.0,0.0,0.0,0.0,8093,2004,30,A,Y,MESSENGER,2004-030A,28391

In [74]:
df['DECAY'].fillna(datetime(2300,1,1), inplace=True)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 2300-01-01 00:00:00

In [ ]:
df.to_csv()